.c-header {
	padding: 20px;
	background-color: #00f;
	display: flex;
	align-items: center;

	&__title {
		color: #f00;
		text-transform: uppercase;
		margin-right: 30px;
	}

	&__nav {
		display: flex;
		align-items: center;

		&__link {
			color: #0f0;
			font-weight: 300;

			&:hover {
				color: #fff;
			}

			+ .c-header__nav__link {
				margin-left: 15px;
			}

			&.-turnt {
				transform: rotate(10deg);
			}
		}
	}

	&--compact {
		padding: 10px;

		.c-header__title {
			margin-right: 15px;
		}

		.c-header__nav__link {
			+ .c-header__nav__link {
				margin-left: 7.5px;
			}
		}
	}
}
