body{
		background:#999;
		font-family: arial;
}

h1  {
	color:#555;
}

h2 	{
	color: red;
}

p {
	background:#656;
	color: white;
	padding: 15px;

}


.secondary {

background: none;
color: #777;

}
